{% extends 'base.html' %}

{% block content %}

<div class="container-formulary">
    <div class="form-wrapper">
        <form class="formulary" method="post">
            <h2 class="title">Recuperar contraseña</h2>
            {% csrf_token %}
            
            {% if form.non_field_errors %}
                <p class="message">{{ form.non_field_errors }}</p>
            {% endif %}

            <div class="container-input">
                <input id="{{ form.email.id_for_label }}" type="email" name="email" placeholder="Ingrese su correo electrónico" required>
                {% if form.email.errors %}
                    <p class="message">{{ form.email.errors }}</p>
                {% endif %}
            </div>

            <div class="container-input">
                <button class="button" type="submit">Enviar enlace</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}